p,
.glyphicon {
  margin: 0px;
}

.glyphicon-trash {
  font-size: 17px;
  top: 2px;
  margin-right: 3px;
}

.palettes-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 2px solid;
  line-height: 25px;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 30px;
}

.tab-link {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  width: 100px;
}

.addpalette {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 14.5px;
  height: 29px;
  margin-top: 30px;
}

.addpalette-title {
  background-color: transparent !important;
  color: inherit !important;
  padding: 0 10px;
  font-size: 18px;
}

.controls-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding: 0 30px;
  margin-bottom: 30px;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 25px;
  border-radius: 10px;
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.page-wrapper {
  margin: 40px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 0 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-link-normal {
  margin: 0 10px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  line-height: 25px;
  text-align: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.page-controls .tab-link {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.glyphicon-chevron-left,
.glyphicon-chevron-right {
  display: inline-block;
  line-height: 25px;
  font-size: 16px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.disabled {
  opacity: 0.3;
}

.order {
  display: inline-block;
  text-align: center;
  line-height: 25px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 29px;
  -ms-flex-item-align: center;
      align-self: center;
  margin-top: 30px;
  width: 150px;
  background-color: transparent;
  color: inherit;
  border: 1px solid;
  border-radius: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.plus {
  width: 29px;
  height: 29px;
  border-radius: 50%;
  background-color: floralwhite;
  color: #013992;
  line-height: 24px;
  text-align: center;
  font-size: 25px;
  vertical-align: middle;
  font-weight: 700;
}

.glyphicon-plus {
  display: block;
  position: relative;
  left: 1px;
  bottom: 4px;
  margin: 0 auto;
}

.active-tab,
.tab-link:hover {
  color: #013992;
  background-color: floralwhite;
}

.palettes-wrapper {
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Menlo;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  border-radius: 30px;
  margin: 0 10px;
}

.filler {
  width: 180px;
  margin: 0 10px;
}

.single-palett-wrapper {
  width: 180px;
  background-color: transparent;
  border-radius: 6px;
  margin: 10px;
}

.palette-colors {
  background-color: green;
  border-radius: 6px;
  height: 150px;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  -webkit-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
}

.palette-grades {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Menlo;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 5px;
  height: 30px;
  color: inherit;
}

.color-title {
  line-height: 30px;
  display: inline-block;
  font-size: 12px;
  padding: 0 10px;
}

.color {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.palette-title {
  line-height: 30px;
  text-align: left;
  font-size: 18px;
  padding-left: 5px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 35px;
}

.views,
.likes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.views-icon,
.likes-icon {
  font-size: 16px;
}

.views-icon {
  margin: 0 0px 0 0;
}

.likes-icon {
  margin: 0 0 0 7px;
}

div.dropdown-menu.show {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

div.order.show,
order:hover {
  background-color: floralwhite;
  color: #013992;
  line-height: 27px;
  border: 0px;
}

.dropdown-menu {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px;
  top: 3px !important;
  border-radius: 10px;
  color: #013992;
  width: inherit;
  background-color: floralwhite;
  text-align: center;
  overflow: hidden;
  min-width: 100px;
}

.btn.focus,
.btn:focus,
.btn:hover {
  color: inherit !important;
}

.btn {
  padding: 0px;
  width: 100%;
  height: 100%;
  vertical-align: initial;
  line-height: inherit;
}

a.dropdown-item:hover {
  -webkit-box-shadow: 0 0px 5px -2px #666;
          box-shadow: 0 0px 5px -2px #666;
}

