.start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 100px;
  padding: 0 20px;
}

.welcome {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.welcome-title {
  font-size: 40px;
  font-family: "Montserrat-Regular", Tahoma;
}

.welcome-text {
  font-size: 20px;
  font-family: "Montserrat-Regular", Tahoma;
}

.login-form {
  margin: 0px;
  background-color: white;
  height: auto;
  width: 40%;
  margin-left: 20px;
  min-width: 250px;
  max-width: 350px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 10px;
  padding: 0 30px;
}

.login-button {
  margin-bottom: 20px;
}

.login-field {
  color: black;
}

@media (max-width: 768px) {
  .welcome-title {
    font-size: 35px;
  }

  .welcome-text {
    font-size: 16px;
  }

  .start {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .login-form {
    margin: 20px auto;
    width: 100%;
    max-width: 540px;
  }
}

