* {
  margin: 0px;
  padding: 0px;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #232323;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#6400a8), to(#013992));
  background-image: linear-gradient(#6400a8 0%, #013992 100%);
  color: white;
  transition: background-image 1s ease-in-out;
  -webkit-transition: background-image 1s ease-in-out;
  color: white;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
  background-color: transparent;
}

.sidemenu-shown {
  width: 200px;
  min-width: 200px;
  height: 100vh;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sidemenu-hidden {
  margin-left: -200px;
}

.onlymobile {
  display: none;
}

.close {
  position: fixed;
  right: 10px;
}

.userlogo {
  border-radius: 50%;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.4);
  line-height: 100px;
  padding-left: 10px;
  padding-top: 35px;
  margin-top: 20px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 0 35px -20px black;
          box-shadow: 0 0 35px -20px black;
  overflow: hidden;
}

.sidemenu-bar {
  width: 100%;
  text-align: center;
  font-size: 16px;
  margin: 10px 0;
}

.container-fluid {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0px;
  padding-top: 5px;
  -webkit-transition: all .5s ease-in-out,0s color ease;
  transition: all .5s ease-in-out,0s color ease;
  margin-left: 0px;
  width: 100%;
}

.container-fluid-squezed {
  margin-left: 200px;
  width: calc(100vw - 200px);
}

.navbar {
  top: 0px;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.navbar:before,
.navbar:after {
  display: none;
}

.navbar-header {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main-menu-link,
main-menu-link:active,
main-menu-link:focus {
  display: block;
  font-size: 17px;
  margin: 0 20px;
  vertical-align: middle;
  -webkit-transition: .2s border ease;
  transition: .2s border ease;
  padding: 0 5px;
  background: transparent;
}

.onlydesktop {
  display: block;
}

.side-menu-link {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  -webkit-transition: .2s border ease;
  transition: .2s border ease;
}

.side-menu-link-active,
.side-menu-link:hover {
  border-left: 10px solid;
}

.main-menu-link.main-menu-link-active,
.main-menu-link:hover {
  border-bottom: 2px solid;
  margin-bottom: 0px;
}

.searchbar {
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: 1px solid;
  opacity: 0.6;
  border-radius: 6px;
  line-height: 32px;
}

.searchinput {
  outline: none;
  height: 32px;
  width: 170px;
  font-size: 18px;
  line-height: 30px;
  display: block;
  padding: 0 10px;
  background-color: transparent;
  border: 0;
}

.logo {
  font-size: 25px;
  line-height: 40px;
  height: 40px;
}

.thick {
  font-weight: 700;
}

.container {
  padding: 0px;
  max-width: 100%;
  padding-bottom: 100px;
  -webkit-transition: .5s all ease, 0s color ease;
  transition: .5s all ease, 0s color ease;
}

.glyphicon {
  -webkit-transition: 0.4s all ease, 0s color ease;
  transition: 0.4s all ease, 0s color ease;
  font-size: 20px;
  opacity: 1;
  width: 23px;
  margin: 0 20px;
  line-height: 76px;
}

.glyphicon-user {
  font-size: 80px;
  margin: 0px;
  opacity: 0.6;
  line-height: 50px;
}

.glyphicon-search {
  line-height: 32px;
  margin: 0 10px;
}

/* Icon 4 */

.nav-icon4 {
  width: 40px;
  height: 30px;
  position: relative;
  right: 0px;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -webkit-transition: .5s ease-in-out, 0s color ease, .5s right ease;
  transition: .5s ease-in-out, 0s color ease, .5s right ease;
  cursor: pointer;
  margin-top: 5px;
  margin-right: 20px;
}

.nav-icon4 span {
  display: block;
  position: absolute;
  height: 6px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  background-color: white;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -webkit-transition: .25s ease-in-out, 0s background-color ease;
  transition: .25s ease-in-out, 0s background-color ease;
}

.nav-icon4 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  transform-origin: left center;
}

.nav-icon4 span:nth-child(2) {
  top: 12px;
  -webkit-transform-origin: left center;
  transform-origin: left center;
}

.nav-icon4 span:nth-child(3) {
  top: 24px;
  -webkit-transform-origin: left center;
  transform-origin: left center;
}

.nav-icon4.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -2px;
  left: calc(8px*2/3);
}

.nav-icon4.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.nav-icon4.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 26px;
  left: calc(8px*2/3);
}

@media (max-width: 992px) {
  .main-menu-link {
    margin: 0 10px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 600px;
  }

  .onlymobile {
    display: block;
  }

  .onlydesktop {
    display: none;
  }
}

@media (max-width: 600px) {
  .onlydesktop {
    display: none;
  }

  .onlymobile {
    display: block;
  }

  .nav-icon4.open {
    position: fixed;
    -webkit-animation-name: slidein;
            animation-name: slidein;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-duration: .5s;
            animation-duration: .5s;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }

  .sidemenu-shown {
    width: 100%;
    min-width: 100%;
  }

  .sidemenu-hidden {
    margin-left: -100%;
  }

  .container-fluid-squezed {
    position: fixed;
    margin-left: 100%;
    width: 100vw;
  }

  .logo {
    margin-left: -5px;
  }

  .container {
    width: 100vw;
  }
}

.chat-wrapper {
  position: fixed;
  top: calc(100% - 30px);
  left: calc(100% - 400px);
  width: 400px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 1000;
  min-height: 30px;
  min-width: 200px;
  -webkit-transition: height 0.4s ease, top 0.4s ease;
  transition: height 0.4s ease, top 0.4s ease;
}

.chat-header {
  text-align: center;
  background-color: #5E17AF;
  color: #fff;
  padding: 5px;
  border-radius: 8px 8px 0 0;
  letter-spacing: 0.1em;
}

.chat-main {
  height: 0px;
  position: relative;
  background-color: #faf9fa;
  color: #232323;
  overflow-y: scroll;
  padding: 5px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.chat-new-wrapper {
  height: 40px;
  background-color: white;
  -webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.1), 0 2px 2px -2px rgba(0, 0, 0, 0.02), 0 1px 4px 0 rgba(0, 0, 0, 0.04) !important;
          box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.1), 0 2px 2px -2px rgba(0, 0, 0, 0.02), 0 1px 4px 0 rgba(0, 0, 0, 0.04) !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.new-msg {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 5px;
  -webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.1) inset, 0 2px 2px -2px rgba(0, 0, 0, 0.02) inset, 0 1px 4px 0 rgba(0, 0, 0, 0.04) inset !important;
          box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.1) inset, 0 2px 2px -2px rgba(0, 0, 0, 0.02) inset, 0 1px 4px 0 rgba(0, 0, 0, 0.04) inset !important;
  border: 0;
  padding: 5px;
  color: #999;
}

.new-msg:focus {
  border: 0;
  outline: 0;
}

.new-msg-button {
  margin: 5px;
  color: #5E17AF;
  line-height: 40px;
}

.glyphicon-ok {
  margin: 0px 10px 0px 5px !important;
}

.msg * {
  margin: 0 3px;
}

.msg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #666;
  font-size: 13px;
}

.msg-time {
  font-size: 12px;
  color: #333;
}

.msg-author {
  font-weight: 700;
}

.css-switch-wrapper {
  position: absolute;
  bottom: 40px;
  left: 52px;
  height: 26px;
  width: 95px;
  border-radius: 13px;
  overflow: hidden;
  opacity: 0.6;
  border: 1px solid white;
}

.css-switch-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  line-height: 24px;
  border-radius: 10px;
  -webkit-transition: 0.2s all ease, 0s color ease;
  transition: 0.2s all ease, 0s color ease;
  left: 0px;
}

.css-switch-circle {
  background-color: white;
  -webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.1), 0 2px 2px -2px rgba(0, 0, 0, 0.02), 0 1px 4px 0 rgba(0, 0, 0, 0.04) !important;
          box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.1), 0 2px 2px -2px rgba(0, 0, 0, 0.02), 0 1px 4px 0 rgba(0, 0, 0, 0.04) !important;
  height: 24px;
  width: 24px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 50%;
  margin: 0 -10px;
  z-index: 3;
}

.css-switch {
  width: 80px;
  text-align: center;
  height: 24px;
  padding: 0 15px;
  color: inherit;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.css-switch-other {
  left: -71px;
}

@media (max-width: 500px) {
  .searchinput {
    width: 150px;
  }
}

@media (max-width: 370px) {
  .searchinput,
  .searchbar {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

@-webkit-keyframes slidein {
  0% {
    left: 0px;
  }

  100% {
    left: calc(100vw - 50px);
  }
}

@keyframes slidein {
  0% {
    left: 0px;
  }

  100% {
    left: calc(100vw - 50px);
  }
}

