@font-face {
  font-family: "Menlo";
  src: url(/public/fonts/Menlo-Regular.ttf) format("truetype");
}

.register-logo {
  font-family: Lobster, serif;
  margin: 0 auto;
  width: 50%;
  text-align: center;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 3em;
  letter-spacing: 10px;
}

.register-logo span {
  display: block;
  margin-top: 20px;
}

.register-logo img {
  width: 150px;
}

.register-wrapper {
  background-color: #FFFFFF;
  width: 50%;
  max-width: 400px;
  margin: 30px auto;
  border-radius: 5px;
  padding-top: 20px;
}

.register-form {
  margin: 20px 40px;
}

.register-field {
  border-radius: 5px;
  border: 1px solid #CBCBD2;
  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.register-button {
  border-radius: 5px;
  background-color: #48BA44;
  border: 1px solid #CBCBD2;
  width: 100%;
  padding: 10px 5px;
  color: #FFFFFF;
  cursor: pointer;
}

.register-button:hover {
  background-color: #2D7437;
}

.register-title {
  text-align: center;
  font-weight: normal;
  color: #48BA44;
  font-size: 2em;
  margin-bottom: 20px;
}

.login-link {
  text-align: center;
  border-top: 1px solid #DDDDDD;
  padding: 20px 0;
  font-size: 1.3em;
}

.login-link a {
  text-decoration: none;
  color: #48BA44;
}

.login-link a:hover {
  text-decoration: underline;
}

