


//colors
$text-main: rgba(71,71,71,1);
$block-background: rgba(2,96,247,1);
$block-background-light: rgba(53,129,252,1);
$block-background-dark: rgb(1, 57, 146);

$main-background:  linear-gradient(rgb(100, 0, 168) 0%, rgb(1, 57, 146) 100%);
//fonts
@font-face {
  font-family: "Menlo";
  src: url(/fonts/Menlo-Regular.ttf) format("truetype");
}





