.glyphicon-heart, .glyphicon-heart-empty{
  margin-right: 30px;
}

body{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* background-color: #232323; */
  /* background-image: -webkit-gradient(linear, left top, left bottom, from(#6400a8), to(#013992)); */
  /* background-image: linear-gradient(#6400a8 0%, #013992 100%); */
  /* color: white; */
  transition: background-image 1s ease-in-out;
  -webkit-transition: background-image 1s ease-in-out;
  color: white;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  background: #f7f7f7;


}
.container-fluid{
  background: linear-gradient(to right, #f7f7f7 60%, #232323 60%);
  animation: wave 15s ease-in-out infinite;
  background-size: 200% 200%;
  animation-direction: alternate;
  background-position: 90% 90%;
}

@keyframes wave {
  0%   { background-position: 90% 90% }
  33%   { background-position: 90% 90% }
  66% { background-position: 50% 50%; }
  100% { background-position: 50% 50%; }
}

.sidemenu-shown{
  z-index: 2;
}
.sidemenu-shown * {
  mix-blend-mode: difference;
  color: black;
}
.navbar,.controls,.user-comment{
  mix-blend-mode: difference;
}
.container{
  padding-left: 1px;
}

.showoff{
  //position: relative;
}
.showoff *{
  //font-size: 50px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 10px;
}

.text1{
  font-family: 'Permanent Marker', cursive;
}

.text2 {
  font-family: 'Bungee Shade', cursive;
}

.text3{
  font-family: 'Rye', cursive;
}

.text4 {
  font-family: 'Faster One', cursive;
}

.color{
  height: 407px;
}
#svg-head{
  position: absolute;
  /* top: 50px; */
  left: -130px;
  height: 310px;
  z-index: 0;

}
#svg-shroom{
  height: 260px;
  position: absolute;
  right: -100px;
}
.comment-wrapper{
  //position: relative;
  z-index: 4;
}

@media (max-width: 740px) {

  #svg-head,#svg-shroom{
    display: none;
  }


}

div.color-more{
  padding: 0px;
}

.color-more{
  display: flex;
  flex-direction: column;
  z-index: 4;
  margin-top: 30px;
  transition: height 0.3s ease;
  height: auto;
  overflow: hidden;
  //background-color: whitesmoke;
  width: 100%;

}
.more-colors-title{
  color: inherit;
  text-align: center;

}
.color-list{
  //border-radius: 10px;
  overflow: hidden;


}

#showmore{
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  text-align: center;
  font-size: 16px;
  width: 150px;
  background-color: white;
  margin: 0 auto;
  color: black;
  margin-top: 50px;
}
.more-color{
  height: 70px;
  line-height: 70px;
  font-size: 20px;
  text-align: center;
  flex-grow: 1;
  text-transform: uppercase;
  z-index: 4;
}

.active{
  height: 912px;
}
.color-codes{
  margin-top: 40px;
  position: relative;
  z-index: 4;
  overflow-x: scroll;
  background: #292b36;
  padding: 1rem 1.5rem;
  border-radius: 6px;
  //margin: 1rem 0 1.5rem;
  text-align: left;
  font-family: monospace;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  -webkit-box-shadow: inset 0 0 12px #151515, 1px 1px 11px #464646;
  box-shadow: inset 0 0 12px #151515;
}

.color-codes > div{
  padding: 10px 0;
}
.highlight{
  color: #f1c40f;
}



@media (max-width: 768px) {
  .color-content > div{
    margin-bottom: 10px;
  }
  .picker{
    padding: 0px !important;
    width: 40%;
    margin: 0 30%;
  }

  .color{

    height: 610px;

  }
  .active{
    height: 1239px;
  }
}